@using FruityNET.Models
@using FruityNET.Enums

@model AdminRequestsViewModel


@{
    ViewData["Title"] = "Approve Admin";
}
<h1 style="text-align: center;">Admin Approval</h1><br>

   <table class="table table-hover table-light">
  <thead>
    <tr>
      <th scope="col">Request Date</th>
      <th scope="col">Username</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
      
    </tr>
  </thead>
  
        @foreach (var request in Model.AdminRequests)
{
      <tbody>
      <td>@request.RequestDate</td>
      <td>@request.Username</td>
      <td> <a class="btn btn-success btn-sm"
                        asp-action="ApproveAdmin"
                        asp-route-id="@request.RequestId">
                       Approve
                </a></td>
      <td>
          
              
          
        
                <form asp-action="Reject" method="post"  asp-route-id="@request.RequestId" role="form">


                
            <button type="submit" class="btn btn-danger btn-sm">Reject</button>  <br>
        </form>
          
          
         
      </td>
     
          </tbody>

      }
        </table>
   
     