


@{
    ViewData["Title"] = "Request for Admin Permissions";
}


            <div class="alert alert-info">Would You Like to Request for Admin Permission?
    </div>
        <h1>Request for Admin Permissions</h1>



        <form asp-action="ConfirmSend" method="post"  role="form">


                
            <button type="submit" class="btn btn-secondary">Send Request</button>  <br>
        </form>