@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities
@using FruityNET.Data


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{                       <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-controller="Posts" asp-action="AllPosts"> Timeline</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-controller="Accounts" asp-action="Notifications"> <i style="font-size:18px" class="fa">&#xf0f3;</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-grey" asp-area="" asp-controller="FriendList" asp-action="FriendRequests">Requests</a>
                        </li>

                        
    <li class="nav-item">
        
         <a class="nav-link text-link" asp-controller="Accounts" asp-action="Profile">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
    
         <a class="nav-link text-grey"
                        asp-controller="Accounts"
                        asp-action="SignOut">
                        
                        <i class='fas fa-sign-out-alt' style='font-size:12px'></i>

                </a>
        
            
       
    </li>
   
}
else
{
    <li class="nav-item">
        <a class="nav-link text-grey" asp-controller="Accounts" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-grey" asp-controller="Accounts" asp-action="Login"> <i class='fas fa-sign-in-alt' style='font-size:12px'></i></a>
    </li>
}
</ul>
