



@{
    ViewData["Title"] = "Accept Friend Request";
}



        <h1>Confirm Friend</h1>



        <form asp-action="AcceptRequest" method="post" role="form">


                
            <button type="submit" class="btn btn-success">Confirm Friend</button><br>
        </form>