



@{
    ViewData["Title"] = "Decline Friend Request";
}



        <h1>Decline Friend</h1>



        <form asp-action="DeclineRequest" method="post" role="form">


                
            <button type="submit" class="btn btn-danger">Decline Friend</button><br>
        </form>