


@model FruityNET.Entities.FriendList

@{
    ViewData["Title"] = "Send Friend Request";
}







        <form asp-action="SendFriendInvite" method="post" role="form">


           <h3>Confirm</h3><br>


                
            <button type="submit" class="btn btn-info">Confirm Request</button><br>
        </form>