



@{
    ViewData["Title"] = "Unfriend?";
}







        <form asp-action="UnfriendUser" method="post" role="form">


           <h3>User Has been Unfriended</h3><br>


                
            <button type="submit" class="btn btn-info"> Back to Profile</button><br>
        </form>