@using FruityNET.DTOs




@model AddGroupUserDTO

@{
    ViewData["Title"] = "Add Group Member";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success"> User has been Successfully added to group.
    </div>
}<br>
<br/>
&nbsp;<h4>Add Group Member</h4><br>

<form asp-action="AddGroupMember" method="post" role="form">

               &nbsp; <div class="form-group">
                    
                    <label asp-for="Username">&nbsp;Username
                    </label>
                     <input  asp-for="Username" type="text"></input>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                   
                
                
                
            &nbsp;<button type="submit" class="btn btn-primary">Add to Group</button> <a class="btn btn-default btn-sm"
                        asp-controller="Groups"

                        asp-action="GroupDetails"

                         asp-route-id="@Model.Id">
                        Back to Group
                </a><br>
        </form>
        
