@using FruityNET.Entities




@model Group

@{
    ViewData["Title"] = "Delete";
}


    <div class="alert alert-danger">Are you sure you want to Delete @Model.Name ?
    </div>


<form asp-action="Delete" method="post" role="form">

         
                   
                
                
                
            <button type="submit" class="btn btn-secondary">Delete Group</button><a class="btn btn-default btn-sm"
                        asp-action="Profile"
                        asp-controller="Accounts">
                        Cancel
                </a><br>
        </form>