@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities





@using FruityNET.DTOs



@model SearchGroupViewModel

@{
    ViewData["Title"] = "Search Group";
}





    <div class="jumbotron">
<h4 style="text-align: center;">Group Search</h4><br>

        <form style="text-align: center;" asp-action="SearchGroup" method="post" role="form">


           
<p style="color: red;">@ViewBag.Message</p>


                <div class="form-group >
                    
                    <label asp-for="Groupname" style="text-align: center;">Search for a Group
                    </label>
                    <input asp-for="Groupname" type="text" placeholder="Group Name"  />
                                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>

                </div>                                    
                <span asp-validation-for="Groupname" class="text-danger"></span>

               

        </form>
</div><br>

    @foreach (var result in Model.Groups)
    {
      
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Result</th>
      <th scope="col">Groupname </th>
      <th scope="col">Created By </th>
      <th scope="col">Created On </th>
      <th scope="col"> </th>
      <th scope="col"> </th>
            <th scope="col"> </th>
             @if(result.RequestIsPending){<th></th>}



    </tr>
  </thead>
    <tbody>
        <tr class="table-success">
      <th scope="row">Success</th>
      <td>@result.Groupname</td>
      <td></td>
      <td></td>
      <td></td>
      
      <td> 
       
           <a class="btn btn-primary btn-sm"
                        asp-action="GroupDetails"
                         asp-route-id="@result.GroupId">
                        View Group
                </a>
        
        </td>
        <td>
       
       
        
        
        

        </td>
    
          
        

    </tr>
    </tbody>
        </table>
     


    
}

