
@{
    ViewData["Title"] = "403";
}
<a class="btn btn-default btn-sm"
                        asp-controller="Accounts"

                        asp-action="AdminExists"


                       >
                         Back to Admin Portal
                </a>


        <h1>403 Existing Permission</h1>
        <h5>User is already Admin.</h5>