@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}
@if (ViewData != null && !ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info"> Password has been reset.
    </div>
}<br>

<form asp-action="ResetPassword" method="post" role="form">


           <h3>Reset Password</h3><br>

                
                 <div class="form-group col-md-4">
                    
                    <label asp-for="UserName">User Name
                    </label>
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                 <div class="form-group col-md-4">
                    
                    <label asp-for="Email">Email
                    </label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div><br>
                 <div class="form-group col-md-4">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div></br>
                
            <button type="submit" class="btn btn-primary">Reset Password</button><br>
        </form>
