@using FruityNET.DTOs
@model ActivatetDTO


@{
    ViewData["Title"] = "Suspend Account";
}


            <div class="alert alert-danger">Are you sure you want to suspend this account?
    </div>
        <h1>Suspend Account</h1>



        <form asp-action="ConfirmSuspend" method="post" asp-route-id="@Model.AccountID" role="form">


                
            <button type="submit" class="btn btn-secondary">Confirm</button>  <a class="btn btn-default btn-sm"
                        asp-action="AdminPortal">
                        Cancel
                </a><br>
        </form>