@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
  <h1 class="display-3"></h1>
  <p class="lead">FruityNET</p>
  <hr class="my-4">
  <p>Connect with your peers within the network</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>