@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
  <div class="jumbotron">
    <h1>Welcome to FruityNET.</h1>
    <p>A social platform to connect with others
    who are within the network.</p>
  </div>
</div>
    