@using FruityNET.DTOs



@model AddCommentDTO

@{
    ViewData["Title"] = "Post Comment";
}




<form asp-action="AddCommentToPost" method="post" role="form">


                <div class="form-group">
                    
                    <label asp-for="Content">Content
                    </label>
                    <textarea  asp-for="Content" class="form-control"/></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                
                
                
            <button type="submit" class="btn btn-primary">Post Comment</button><br>
        </form>